.manage-add-row {
  padding: 15px;
}

.manage-add-form {
  padding-right: 5px;
}

.manage-add-btn {
  margin-left: 15px;
}

.col-edit-group {
  padding-bottom: 15px;
}

.manage-modal {
  max-width: 50%;
  margin: auto;
  margin-top: 56px;
}