/* img, .carousel {
  width: '720px'!important;
  height: '405px'!important;
} */

/* li {
  color:
} */

#landingPage {
  margin-top: -56px;
}

.carousel-caption {
  color: blue;
}

.carouselContainer {
  margin-top:20%;
  margin-left:20%;
  margin-right:20%;
}

#intro {
  text-align: center;
}

.component {
  height: 100vh;
  width: 100%;
}

.component-header {
  padding-top: 56px;
  text-align: center;
}

.header-title {
  padding-top: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}

.header-detail {
  width: 80%;
  margin: auto;
  font-size: 0.9rem;
}

#appInfo-detail {
  height: 100%;
  margin-top: -480px;
}

#appInfo-detail .row {
  height: unset;
  max-height: 100%;
}

.left-col {
  text-align: right;
}

.appInfo-container {
  margin-top: 100px;
}

.appInfo-title {
  font-size: 2rem;
  font-style: italic;
}

.appInfo-detail {
  font-size: 0.9rem;
}

.appImage {
  width: 100%
}

#aboutTeam .row {
  height: auto;
}

.about-body {
  margin-top: 80px;
  height: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.team-name {
  text-align: right;
}

.team-info {
  align-self: center;
}

.team-name h2 {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 300;
}

.team-name a {
  color: black;
}

.team-member {
  text-align: center;
}

.team-member h4 {
  font-style: italic;
}

.team-member p {
  margin-bottom: 0;
}

.contribute-contact {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}
