.contact-add {
  padding: 15px;
}

.contact-btn {
  margin-top: 15px;
}

.contact-add-btn {
  margin-bottom: 15px;
}

.contact-form {
  max-width: 250px;
}

.col-contact-edit {
  padding-bottom: 15px;
}