#calendars .rbc-time-view .rbc-time-gutter {
  display: none;
}

#time .rbc-time-view .rbc-time-gutter {
  display: inline-block;
  flex-basis: auto;
}

#time {
  flex-basis: 0;
}

#time .rbc-day-slot {
  display: none;
}

#calendars .rbc-row:last-child {
  display: none;
}

#calendars .rbc-row .rbc-label, .rbc-header-gutter {
  display: none;
}

#calendars .rbc-toolbar {
  display: none;
}

#calendars {
  display: inline-flex;
  width: 100%;
}

.calendar {
  width: 100%
}

#calendarNav {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 100%;
}

#calendarNav .container {
  width: 20%;
}

#calendarNav .rbc-calenar {
  flex-grow: 2;
  flex-basis: auto;
}

#calendarNav .rbc-toolbar {
  display: inline-block;
}

#calendarNav .rbc-time-view {
  display: none;
}

#weekCalendar .rbc-label, .rbc-header-gutter {
  display: inline-block;
}

#weekCalendar .rbc-toolbar {
  display: none;
}

#slotViewToggler {
  margin-right: 5px;

}